com.osa.mdsp.enabler.sei.exception_SMSEnabler_V2_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:smse="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0"
    elementFormDefault="qualified"
    targetNamespace="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0">

    <xsd:complexType name="SMSException">
        <xsd:sequence>
            <xsd:element name="errorCode" type="xsd:int" />
            <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SMSException" nillable="true" type="smse:SMSException" />
</xsd:schema>
