pl.net.amg.hdl.sei.eto_SMSReceiver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:smrt="http://pl.net.amg.hdl.sei.eto/SMSReceiver"
    elementFormDefault="qualified"
    targetNamespace="http://pl.net.amg.hdl.sei.eto/SMSReceiver">

    <xsd:complexType name="SMSReceiverETO">
        <xsd:sequence>
            <xsd:element name="toLa" minOccurs="1" type="xsd:string" />
            <xsd:element name="fromMsisdn" minOccurs="1" type="xsd:string" />
            <xsd:element name="content" minOccurs="1" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
