sgw-sms-sender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smsi="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI"
    xmlns:smse="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0"
    xmlns:smst="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0"
    xmlns:enae="http://com.osa.mdsp.enabler.ecf"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI"
    name="sgw-sms-sender">

    <wsdl:documentation>
        Webservice for sending SMS at PTK Centertel

        Date: 2011-12-06
        Version: 2.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
            <xsd:import namespace="http://com.osa.mdsp.enabler.ecf" schemaLocation="com.osa.mdsp.enabler.ecf.xsd" />
            <xsd:import namespace="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0" schemaLocation="com.osa.mdsp.enabler.sei.eto_SMSEnabler_V2_0.xsd" />
            <xsd:import namespace="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0" schemaLocation="com.osa.mdsp.enabler.sei.exception_SMSEnabler_V2_0.xsd" />
            <xsd:import namespace="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI" schemaLocation="com.osa.mdsp.enabler.sei_SMSEnabler_V2_0_SMSSenderSEI.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="sendBinarySMSWithNotificationToAliasResponse">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationToAliasResponse" name="sendBinarySMSWithNotificationToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationResponse">
        <wsdl:part element="smsi:sendSMSWithNotificationResponse" name="sendSMSWithNotificationResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSToAliasRequest">
        <wsdl:part element="smsi:sendSMSToAlias" name="sendSMSToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="SMSException">
        <wsdl:part element="smse:SMSException" name="SMSException" />
    </wsdl:message>
    <wsdl:message name="EnablerException">
        <wsdl:part element="enae:EnablerException" name="EnablerException" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationRequest">
        <wsdl:part element="smsi:sendBinarySMSWithNotification" name="sendBinarySMSWithNotificationRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationResponse">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationResponse" name="sendBinarySMSWithNotificationResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSToAliasResponse">
        <wsdl:part element="smsi:sendSMSToAliasResponse" name="sendSMSToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationRequest">
        <wsdl:part element="smsi:sendSMSWithNotification" name="sendSMSWithNotificationRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSResponse">
        <wsdl:part element="smsi:sendBinarySMSResponse" name="sendBinarySMSResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSRequest">
        <wsdl:part element="smsi:sendSMS" name="sendSMSRequest" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationToAliasResponse">
        <wsdl:part element="smsi:sendSMSWithNotificationToAliasResponse" name="sendSMSWithNotificationToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationToAliasRequest">
        <wsdl:part element="smsi:sendSMSWithNotificationToAlias" name="sendSMSWithNotificationToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSToAliasResponse">
        <wsdl:part element="smsi:sendBinarySMSToAliasResponse" name="sendBinarySMSToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSRequest">
        <wsdl:part element="smsi:sendBinarySMS" name="sendBinarySMSRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationToAliasRequest">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationToAlias" name="sendBinarySMSWithNotificationToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="sendSMSResponse">
        <wsdl:part element="smsi:sendSMSResponse" name="sendSMSResponse" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSToAliasRequest">
        <wsdl:part element="smsi:sendBinarySMSToAlias" name="sendBinarySMSToAliasRequest" />
    </wsdl:message>

    <wsdl:portType name="SMSSenderEnablerRemote_V2_0">
        <wsdl:operation name="sendSMS">
            <wsdl:input message="smsi:sendSMSRequest" name="sendSMSRequest" />
            <wsdl:output message="smsi:sendSMSResponse" name="sendSMSResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotification">
            <wsdl:input message="smsi:sendSMSWithNotificationRequest" name="sendSMSWithNotificationRequest" />
            <wsdl:output message="smsi:sendSMSWithNotificationResponse" name="sendSMSWithNotificationResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSToAlias">
            <wsdl:documentation>Sending SMS to alias is not supported</wsdl:documentation>
            <wsdl:input message="smsi:sendSMSToAliasRequest" name="sendSMSToAliasRequest" />
            <wsdl:output message="smsi:sendSMSToAliasResponse" name="sendSMSToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotificationToAlias">
            <wsdl:documentation>Sending SMS with notification to alias is not supported</wsdl:documentation>
            <wsdl:input message="smsi:sendSMSWithNotificationToAliasRequest" name="sendSMSWithNotificationToAliasRequest" />
            <wsdl:output message="smsi:sendSMSWithNotificationToAliasResponse" name="sendSMSWithNotificationToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMS">
            <wsdl:input message="smsi:sendBinarySMSRequest" name="sendBinarySMSRequest" />
            <wsdl:output message="smsi:sendBinarySMSResponse" name="sendBinarySMSResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotification">
            <wsdl:input message="smsi:sendBinarySMSWithNotificationRequest" name="sendBinarySMSWithNotificationRequest" />
            <wsdl:output message="smsi:sendBinarySMSWithNotificationResponse" name="sendBinarySMSWithNotificationResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSToAlias">
            <wsdl:documentation>Sending binary SMS to alias is not supported</wsdl:documentation>
            <wsdl:input message="smsi:sendBinarySMSToAliasRequest" name="sendBinarySMSToAliasRequest" />
            <wsdl:output message="smsi:sendBinarySMSToAliasResponse" name="sendBinarySMSToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotificationToAlias">
            <wsdl:documentation>Sending SMS with notification to alias is not supported</wsdl:documentation>
            <wsdl:input message="smsi:sendBinarySMSWithNotificationToAliasRequest" name="sendBinarySMSWithNotificationToAliasRequest" />
            <wsdl:output message="smsi:sendBinarySMSWithNotificationToAliasResponse" name="sendBinarySMSWithNotificationToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SMSSenderEnablerRemoteSoapBinding_V2_0" type="smsi:SMSSenderEnablerRemote_V2_0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sendSMS">
            <soap:operation soapAction="sendSMS" style="document" />
            <wsdl:input name="sendSMSRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotification">
            <soap:operation soapAction="sendSMSWithNotification" style="document" />
            <wsdl:input name="sendSMSWithNotificationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSWithNotificationResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSToAlias">
            <soap:operation soapAction="sendSMSToAlias" style="document" />
            <wsdl:input name="sendSMSToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotificationToAlias">
            <soap:operation soapAction="sendSMSWithNotificationToAlias" style="document" />
            <wsdl:input name="sendSMSWithNotificationToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSWithNotificationToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMS">
            <soap:operation soapAction="sendBinarySMS" style="document" />
            <wsdl:input name="sendBinarySMSRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotification">
            <soap:operation soapAction="sendBinarySMSWithNotification" style="document" />
            <wsdl:input name="sendBinarySMSWithNotificationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSWithNotificationResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSToAlias">
            <soap:operation soapAction="sendBinarySMSToAlias" style="document" />
            <wsdl:input name="sendBinarySMSToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotificationToAlias">
            <soap:operation soapAction="sendBinarySMSWithNotificationToAlias" style="document" />
            <wsdl:input name="sendBinarySMSWithNotificationToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSWithNotificationToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SMSSenderEnablerRemoteService_V2_0">
        <wsdl:port binding="smsi:SMSSenderEnablerRemoteSoapBinding_V2_0" name="SMSSenderEnablerRemote_V2_0">
            <soap:address location="http://sgw-sc:8380/security-backend/services/smsEnabler" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>