sgw-sms-sender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smsi="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI"
    xmlns:smse="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0"
    xmlns:smst="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0"
    xmlns:enae="http://com.osa.mdsp.enabler.ecf"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:enae="http://com.osa.mdsp.enabler.ecf"
            elementFormDefault="qualified"
            targetNamespace="http://com.osa.mdsp.enabler.ecf">

            <xsd:complexType name="InvocationContext">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded"
                        name="properties" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="EnablerException">
                <xsd:sequence>
                    <xsd:element name="errorMessage" nillable="true"
                        type="xsd:string" />
                    <xsd:element name="errorCode" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="EnablerException" nillable="true"
                type="enae:EnablerException" />

        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smst="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0"
            elementFormDefault="qualified"
            targetNamespace="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0">

            <xsd:complexType name="SMSMessageETO">
                <xsd:sequence>
                    <xsd:element name="content" type="xsd:string" />
                    <xsd:element name="earliestDeliveryTime"
                        minOccurs="0" nillable="true" type="xsd:dateTime" />
                    <xsd:element name="expiryDate" minOccurs="0"
                        nillable="true" type="xsd:dateTime" />
                    <xsd:element name="priority" minOccurs="0"
                        nillable="true" type="xsd:string" />
                    <xsd:element name="recipient" type="xsd:string" />
                    <xsd:element name="senderAddress" minOccurs="0"
                        nillable="true" type="xsd:string" />
                    <xsd:element name="contentSentEncoding"
                        minOccurs="0" nillable="true" type="xsd:string" />
                    <xsd:element name="flash" minOccurs="0"
                        nillable="true" type="xsd:boolean" />
                    <xsd:element name="originatingPort" minOccurs="0"
                        nillable="true" type="xsd:int" />
                    <xsd:element name="destinationPort" minOccurs="0"
                        nillable="true" type="xsd:int" />
                    <xsd:element name="pid" minOccurs="0"
                        nillable="true" type="xsd:int" />
                    <xsd:element name="dcs" minOccurs="0"
                        nillable="true" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SMSBinaryMessageETO">
                <xsd:sequence>
                    <xsd:element name="hasUdh" minOccurs="0"
                        nillable="true" default="true" type="xsd:boolean" />
                    <xsd:element maxOccurs="unbounded" name="content"
                        type="xsd:string" />
                    <xsd:element name="earliestDeliveryTime"
                        minOccurs="0" nillable="true" type="xsd:dateTime" />
                    <xsd:element name="expiryDate" minOccurs="0"
                        nillable="true" type="xsd:dateTime" />
                    <xsd:element name="priority" minOccurs="0"
                        nillable="true" type="xsd:string" />
                    <xsd:element name="recipient" type="xsd:string" />
                    <xsd:element name="senderAddress" minOccurs="0"
                        nillable="true" type="xsd:string" />
                    <xsd:element name="dcs" minOccurs="0"
                        nillable="true" type="xsd:int" />
                    <xsd:element name="msgidmo" minOccurs="0"
                        nillable="true" type="xsd:string" />
                    <xsd:element name="pid" minOccurs="0"
                        nillable="true" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smse="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0"
            elementFormDefault="qualified"
            targetNamespace="http://com.osa.mdsp.enabler.sei.exception/SMSEnabler/V2_0">

            <xsd:complexType name="SMSException">
                <xsd:sequence>
                    <xsd:element name="errorCode" type="xsd:int" />
                    <xsd:element name="message" nillable="true"
                        type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SMSException" nillable="true"
                type="smse:SMSException" />

        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smsi="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI"
            xmlns:enae="http://com.osa.mdsp.enabler.ecf"
            elementFormDefault="qualified"
            targetNamespace="http://com.osa.mdsp.enabler.sei/SMSEnabler/V2_0/SMSSenderSEI">

            <xsd:import namespace="http://com.osa.mdsp.enabler.ecf" />
            <xsd:import namespace="http://com.osa.mdsp.enabler.sei.eto/SMSEnabler/V2_0" />

            <xsd:element name="sendSMS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms" type="smst:SMSMessageETO" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendSMSReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSWithNotification">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms" type="smst:SMSMessageETO" />
                        <xsd:element name="notificationURL" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSWithNotificationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendSMSWithNotificationReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSToAlias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms" type="smst:SMSMessageETO" />
                        <xsd:element name="serviceId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSToAliasResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendSMSToAliasReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSWithNotificationToAlias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms" type="smst:SMSMessageETO" />
                        <xsd:element name="serviceId" type="xsd:string" />
                        <xsd:element name="notificationURL" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendSMSWithNotificationToAliasResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendSMSWithNotificationToAliasReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms"
                            type="smst:SMSBinaryMessageETO" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendBinarySMSReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSWithNotification">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms"
                            type="smst:SMSBinaryMessageETO" />
                        <xsd:element name="notificationURL" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSWithNotificationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendBinarySMSWithNotificationReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSToAlias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms"
                            type="smst:SMSBinaryMessageETO" />
                        <xsd:element name="serviceId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSToAliasResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sendBinarySMSToAliasReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSWithNotificationToAlias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ctx" minOccurs="0"
                            nillable="true" type="enae:InvocationContext" />
                        <xsd:element name="sms"
                            type="smst:SMSBinaryMessageETO" />
                        <xsd:element name="serviceId" type="xsd:string" />
                        <xsd:element name="notificationURL" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendBinarySMSWithNotificationToAliasResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="sendBinarySMSWithNotificationToAliasReturn"
                            nillable="true" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="sendBinarySMSWithNotificationToAliasResponse">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationToAliasResponse"
            name="sendBinarySMSWithNotificationToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationResponse">
        <wsdl:part element="smsi:sendSMSWithNotificationResponse"
            name="sendSMSWithNotificationResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSToAliasRequest">
        <wsdl:part element="smsi:sendSMSToAlias" name="sendSMSToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="SMSException">
        <wsdl:part element="smse:SMSException" name="SMSException" />
    </wsdl:message>
    <wsdl:message name="EnablerException">
        <wsdl:part element="enae:EnablerException" name="EnablerException" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationRequest">
        <wsdl:part element="smsi:sendBinarySMSWithNotification"
            name="sendBinarySMSWithNotificationRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationResponse">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationResponse"
            name="sendBinarySMSWithNotificationResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSToAliasResponse">
        <wsdl:part element="smsi:sendSMSToAliasResponse" name="sendSMSToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationRequest">
        <wsdl:part element="smsi:sendSMSWithNotification" name="sendSMSWithNotificationRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSResponse">
        <wsdl:part element="smsi:sendBinarySMSResponse" name="sendBinarySMSResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSRequest">
        <wsdl:part element="smsi:sendSMS" name="sendSMSRequest" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationToAliasResponse">
        <wsdl:part element="smsi:sendSMSWithNotificationToAliasResponse"
            name="sendSMSWithNotificationToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSWithNotificationToAliasRequest">
        <wsdl:part element="smsi:sendSMSWithNotificationToAlias"
            name="sendSMSWithNotificationToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSToAliasResponse">
        <wsdl:part element="smsi:sendBinarySMSToAliasResponse" name="sendBinarySMSToAliasResponse" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSRequest">
        <wsdl:part element="smsi:sendBinarySMS" name="sendBinarySMSRequest" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSWithNotificationToAliasRequest">
        <wsdl:part element="smsi:sendBinarySMSWithNotificationToAlias"
            name="sendBinarySMSWithNotificationToAliasRequest" />
    </wsdl:message>
    <wsdl:message name="sendSMSResponse">
        <wsdl:part element="smsi:sendSMSResponse" name="sendSMSResponse" />
    </wsdl:message>
    <wsdl:message name="sendBinarySMSToAliasRequest">
        <wsdl:part element="smsi:sendBinarySMSToAlias" name="sendBinarySMSToAliasRequest" />
    </wsdl:message>

    <wsdl:portType name="SMSSenderEnablerRemote_V2_0">
        <wsdl:operation name="sendSMS">
            <wsdl:input message="smsi:sendSMSRequest" name="sendSMSRequest" />
            <wsdl:output message="smsi:sendSMSResponse" name="sendSMSResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotification">
            <wsdl:input message="smsi:sendSMSWithNotificationRequest"
                name="sendSMSWithNotificationRequest" />
            <wsdl:output message="smsi:sendSMSWithNotificationResponse"
                name="sendSMSWithNotificationResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSToAlias">
            <wsdl:input message="smsi:sendSMSToAliasRequest" name="sendSMSToAliasRequest" />
            <wsdl:output message="smsi:sendSMSToAliasResponse"
                name="sendSMSToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotificationToAlias">
            <wsdl:input message="smsi:sendSMSWithNotificationToAliasRequest"
                name="sendSMSWithNotificationToAliasRequest" />
            <wsdl:output message="smsi:sendSMSWithNotificationToAliasResponse"
                name="sendSMSWithNotificationToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMS">
            <wsdl:input message="smsi:sendBinarySMSRequest" name="sendBinarySMSRequest" />
            <wsdl:output message="smsi:sendBinarySMSResponse"
                name="sendBinarySMSResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotification">
            <wsdl:input message="smsi:sendBinarySMSWithNotificationRequest"
                name="sendBinarySMSWithNotificationRequest" />
            <wsdl:output message="smsi:sendBinarySMSWithNotificationResponse"
                name="sendBinarySMSWithNotificationResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSToAlias">
            <wsdl:input message="smsi:sendBinarySMSToAliasRequest"
                name="sendBinarySMSToAliasRequest" />
            <wsdl:output message="smsi:sendBinarySMSToAliasResponse"
                name="sendBinarySMSToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotificationToAlias">
            <wsdl:input message="smsi:sendBinarySMSWithNotificationToAliasRequest"
                name="sendBinarySMSWithNotificationToAliasRequest" />
            <wsdl:output message="smsi:sendBinarySMSWithNotificationToAliasResponse"
                name="sendBinarySMSWithNotificationToAliasResponse" />
            <wsdl:fault message="smsi:SMSException" name="SMSException" />
            <wsdl:fault message="smsi:EnablerException" name="EnablerException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SMSSenderEnablerRemoteSoapBinding_V2_0"
        type="smsi:SMSSenderEnablerRemote_V2_0">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sendSMS">
            <soap:operation soapAction="sendSMS" style="document" />
            <wsdl:input name="sendSMSRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotification">
            <soap:operation soapAction="sendSMSWithNotification" style="document" />
            <wsdl:input name="sendSMSWithNotificationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSWithNotificationResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSToAlias">
            <soap:operation soapAction="sendSMSToAlias" style="document" />
            <wsdl:input name="sendSMSToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendSMSWithNotificationToAlias">
            <soap:operation soapAction="sendSMSWithNotificationToAlias" style="document" />
            <wsdl:input name="sendSMSWithNotificationToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSWithNotificationToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMS">
            <soap:operation soapAction="sendBinarySMS" style="document" />
            <wsdl:input name="sendBinarySMSRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotification">
            <soap:operation soapAction="sendBinarySMSWithNotification" style="document" />
            <wsdl:input name="sendBinarySMSWithNotificationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSWithNotificationResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSToAlias">
            <soap:operation soapAction="sendBinarySMSToAlias" style="document" />
            <wsdl:input name="sendBinarySMSToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBinarySMSWithNotificationToAlias">
            <soap:operation soapAction="sendBinarySMSWithNotificationToAlias" style="document" />
            <wsdl:input name="sendBinarySMSWithNotificationToAliasRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendBinarySMSWithNotificationToAliasResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SMSException">
                <soap:fault name="SMSException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="EnablerException">
                <soap:fault name="EnablerException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SMSSenderEnablerRemoteService_V2_0">
        <wsdl:port binding="smsi:SMSSenderEnablerRemoteSoapBinding_V2_0"
            name="SMSSenderEnablerRemote_V2_0">
            <soap:address location="http://sgw-sc:8380/security-backend/services/smsEnabler" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
