sms-receiver-ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smri="http://pl.net.amg.hdl.sei/SMSReceiver"
    xmlns:smni="http://pl.net.amg.hdl.sei/SMSNotification"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pl.net.amg.hdl.sei/SMSReceiver"
    name="sgw-sms-receiver">

    <wsdl:documentation>
        Webservice for receiving SMS at PTK Centertel

        Date: 2011-12-14
        Version: 2.1
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
            <xsd:import namespace="http://pl.net.amg.hdl.sei.eto/SMSNotification" schemaLocation="pl.net.amg.hdl.sei.eto_SMSNotification.xsd" />
            <xsd:import namespace="http://pl.net.amg.hdl.sei/SMSNotification" schemaLocation="pl.net.amg.hdl.sei_SMSNotification.xsd" />
            <xsd:import namespace="http://pl.net.amg.hdl.sei.eto/SMSReceiver" schemaLocation="pl.net.amg.hdl.sei.eto_SMSReceiver.xsd" />
            <xsd:import namespace="http://pl.net.amg.hdl.sei/SMSReceiver" schemaLocation="pl.net.amg.hdl.sei_SMSReceiver.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="sendSMSReceiverResponse">
        <wsdl:part element="smri:sendSMSReceiverResponse" name="sendSMSReceiverResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSReceiverRequest">
        <wsdl:part element="smri:sendSMSReceiver" name="sendSMSReceiverRequest" />
    </wsdl:message>
    <wsdl:message name="sendSMSNotificationResponse">
        <wsdl:part element="smni:sendSMSNotificationResponse" name="sendSMSNotificationResponse" />
    </wsdl:message>
    <wsdl:message name="sendSMSNotificationRequest">
        <wsdl:part element="smni:sendSMSNotification" name="sendSMSNotificationRequest" />
    </wsdl:message>

    <wsdl:portType name="SMSReceiverPort">
        <wsdl:operation name="sendSMSReceiver">
            <wsdl:documentation>Call for receiving SMS content</wsdl:documentation>
            <wsdl:input message="smri:sendSMSReceiverRequest" name="sendSMSReceiverRequest" />
            <wsdl:output message="smri:sendSMSReceiverResponse" name="sendSMSReceiverResponse" />
        </wsdl:operation>
        <wsdl:operation name="sendSMSNotification">
            <wsdl:documentation>Call for receiving SMS notification</wsdl:documentation>
            <wsdl:input message="smri:sendSMSNotificationRequest" name="sendSMSNotificationRequest" />
            <wsdl:output message="smri:sendSMSNotificationResponse" name="sendSMSNotificationResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SMSReceiverSoapBinding" type="smri:SMSReceiverPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sendSMSReceiver">
            <soap:operation soapAction="sendSMSReceiver" style="document" />
            <wsdl:input name="sendSMSReceiverRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSReceiverResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendSMSNotification">
            <soap:operation soapAction="sendSMSNotification" style="document" />
            <wsdl:input name="sendSMSNotificationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sendSMSNotificationResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SMSReceiverService">
        <wsdl:port binding="smri:SMSReceiverSoapBinding" name="SMSReceiverPort">
            <soap:address location="http://localhost:8980/services/SMSReceiver" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
